.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  padding-block: 2vw;

  .newsList {
    display: flex;
    flex-direction: column;
    gap: 3vw;

    .fallback {
      width: 200px;
      height: 200px;
      background: red;
    }
  }
}